@import 'Variables';
@import 'Mixins';

body {
    margin: 0%;

    #Grilla {
        height: 100%;
        width: 100%;
        display: grid;
        grid-template-areas:
            "Header"
            "SeccionPrincipal"
            "PieDePagina";
        grid-template-columns: 100%;
        grid-template-rows: 35vh auto 20vh;

        .Header {
            grid-area: Header;
            background-image: url(../Media/FondoMain.png);
            height: 100%;
            margin: 0px 0px;
            padding: 0px;
            display: grid;
            grid-template-rows: 100%;
            grid-template-columns: 25vw 75vw;
            grid-template-areas:
                "NombreLogo JSyMenu";

            &__JSyMenu {
                grid-area: JSyMenu;
                display: grid;
                grid-template-columns: 100%;
                grid-template-rows: 85% 15%;
                grid-template-areas: 
                    "JS"
                    "Menu";
                .JS{
                    grid-area: JS;
                    display: flex;
                    flex-direction: row;
                    &__Trigo{
                        font-family: 'Pattaya', sans-serif;
                        font-size: 15em;
                        color: #83643d;
                        text-transform: uppercase;
                        text-shadow: -7px -7px black;
                        opacity: .8;
                        padding-left: 5vw
                    }
                    &__Magno{
                        @extend .JS__Trigo;
                        transform: translate(-7vw, 12vh);
                        opacity: 1;
                        font-size: 10em;
                        padding-left: 4vw;
                    }
                }

               
            }

            &__NombreLogo {
                grid-area: NombreLogo;
                margin: 0;
                padding: 0;
                display: grid;
                grid-template-columns: 100%;
                grid-template-rows: 80% 20%;
                grid-template-areas:
                    "logo"
                    "nombre";
            }

            &__Logo {
                grid-area: logo;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                padding-left: 20px;
            }

            &__Nombre {
                grid-area: nombre;
                display: flex;
                align-content: center;
                align-items: flex-start;
                
                padding-left: 75px;
                padding-top: 10px;
                
            }
        }

        #SeccionPrincipalProd {
            background-color: #B3B0A1;

            .Tarjetas {
                display: flex;
                flex-flow: column;
            }

            .SeccionProducto {
                display: flex;
                flex-direction: row;
                flex-flow: wrap;

                @media only screen and (max-width: 1024px) {
                    flex-direction: column;
                }
            }

        }

        &__MenuPrincipal {
            grid-area: Menu;
            ul {
                li {
                    a {
                        color: white;
                    }
                }
            }
        }

        .Card {
            border: solid black 2px;
            margin: 3%;
            border-radius: 3%;
            width: 15vw;
            height: auto;
            display: flex;

            align-content: space-between;
            flex-flow: column;
            background-color: #F0F0E6;

            @media only screen and (max-width: 1024px) {
                width: 80vw;
                margin: 10%;
            }

            &__Img {
                border-radius: 3%;
                height: 25vh;
            }

            &__NombreProducto {
                text-align: center;
                margin: 5%;
            }

            &__Boton {
                width: 50%;
                text-align: center;
                margin: 0% 25% 5% 25%;
            }

            &__Precio {
                text-align: center;
            }
        }

    }
}

#SeccionPrincipalProd {
    grid-area: SeccionPrincipal;
}

#PieDePagina {
    grid-area: PieDePagina;
    display: grid;
    grid-template-columns: 90% 10%;
    grid-template-rows: 100%;
    grid-template-areas:
        "Titulo RRSS";

    .TituloPiePagina {
        grid-area: Titulo;
        padding-top: 10px;
    }

    .RRSS {
        @extend .Tarjetas;
        align-content: flex-end;
        align-items: flex-end;
        justify-content: right;
        width: 100%;
        grid-area: RRSS;
        padding-top: 30px;

        &__Item {
            height: 22%;
            width: 100%;
            margin: 0%;
            padding: 2%;
            font-size: small;
            display: flex;
            flex-direction: row;

            justify-items: flex-start;

            h3 {
                font-size: small;
                text-align: center;
                font-weight: bold;
                margin-top: 4px;
            }
        }

        &__img {
            max-width: 70%;
            max-height: 70%;
        }
    }
}