@import 'Variables';
@import 'Mixins';

body {
    margin: 0%;

    #Grilla {
        height: 100%;
        width: 100%;
        display: grid;
        grid-template-areas:
            "Header"
            "SeccionPrincipal"
            "PieDePagina";
        grid-template-columns: 100%;
        grid-template-rows: 35vh auto 20vh;

        @media only screen and (max-width: 768px) {
            grid-template-rows: 45vh auto 30vh;
        }
        @media only screen and (max-width: 1024px){
            grid-template-rows: 40vh auto 35vh;
        }


        .Header {
            grid-area: Header;
            background-image: url(../Media/FondoMain.png);
            height: 100%;
            margin: 0px 0px;
            padding: 0px;
            display: grid;
            grid-template-rows: 100%;
            grid-template-columns: 25% 75%;
            grid-template-areas:
                "NombreLogo JSyMenu";


            @media only screen and (max-width: 1024px) {
                    height: 100%;
                    margin: 0px 0px;
                    border: none;
                    padding: 0px;
                    display: grid;
                    grid-template-columns: 30% 70%;
                    grid-template-rows: 85% 15%;
                    grid-template-areas:
                        "NombreLogo espacio"
                        "NombreLogo Nav";
                }
            @media only screen and (max-width: 768px){
                
                    height: 100%;
                    margin: 0px 0px;
                    border: none;
                    padding: 0px;
                    display: grid;
                    grid-template-columns: 100%;
                    grid-template-rows: 85% 15%;
                    grid-template-areas:
                        "NombreLogo"
                        "Nav";
                    max-height: 100%;
                
            }
                
            }

            &__JSyMenu {
                grid-area: JSyMenu;
                display: grid;
                grid-template-columns: 100%;
                grid-template-rows: 85% 15%;
                grid-template-areas:
                    "JS"
                    "Menu";

                @media only screen and (max-width: 1024px) {
                    display: flex;
                    align-items: flex-end;

                }

                .JS {
                    grid-area: JS;
                    display: flex;
                    flex-direction: row;

                    @media only screen and (max-width: 1024px) {
                        display: none;
                    }

                    &__Trigo {
                        font-family: 'Pattaya', sans-serif;
                        font-size: 12vw;
                        color: #83643d;
                        text-transform: uppercase;
                        text-shadow: -7px -7px black;
                        opacity: .8;
                        padding-left: 5vw
                    }

                    &__Magno {
                        @extend .JS__Trigo;
                        transform: translate(-7vw, 12vh);
                        opacity: 1;
                        font-size: 8vw;
                        padding-left: 4vw;
                    }
                }


            }

            &__NombreLogo {
                grid-area: NombreLogo;
                margin: 0;
                padding: 0;
                display: grid;
                grid-template-columns: 100%;
                grid-template-rows: 80% 20%;
                grid-template-areas:
                    "logo"
                    "nombre";

                @media only screen and (max-width: 768px) {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                }
            }

            &__Logo {
                grid-area: logo;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                padding-left: 20px;

                @media only screen and (max-width: 1024px) {
                    padding-left: 15px;
                }

                @media only screen and (max-width: 768px) {
                    max-height: 75%;
                    padding: 0px;
                    display: flex;
                    justify-content: center;
                }
            }

            &__Nombre {
                grid-area: nombre;
                display: flex;
                align-content: center;
                align-items: flex-start;

                padding-left: 75px;
                padding-top: 10px;

                @media only screen and (max-width: 1024px) {
                    padding-left: 35px;
                }

                @media only screen and (max-width: 768px) {
                    display: none;
                }


            }
        }

        #SeccionPrincipalProd {
            background-color: #B3B0A1;

            .Tarjetas {
                display: flex;
                flex-flow: column;
            }

            .SeccionProducto {
                display: flex;
                flex-direction: row;
                flex-flow: wrap;
                justify-content: space-around;

                @media only screen and (max-width: 768px) {
                    flex-direction: column;
                }
            }

        }

        &__MenuPrincipal {
            grid-area: Menu;

            ul {
                li {
                    a {
                        color: white;
                    }
                }
            }
        }

        .Card {
            border: solid black 2px;
            margin: 3%;
            border-radius: 3%;
            width: 15vw;
            height: auto;
            display: flex;

            align-content: space-between;
            flex-flow: column;
            background-color: #F0F0E6;

            @media only screen and (max-width: 1024px) {
                width: 30vw;
                margin: 10%;
            }
            @media only screen and (max-width: 768px){
                width: 80vw;
            }

            &__Img {
                border-radius: 3%;
                height: 25vh;
                @media only screen and (max-width: 768px){
                    height: auto;
                }
            }

            &__NombreProducto {
                text-align: center;
                margin: 5%;
            }

            &__Boton {
                width: 50%;
                text-align: center;
                margin: 0% 25% 5% 25%;
            }

            &__Precio {
                text-align: center;
            }
        }

    }


#SeccionPrincipalProd {
    grid-area: SeccionPrincipal;
}

#PieDePagina {
    grid-area: PieDePagina;
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: 100%;
    grid-template-areas:
        "Titulo" 
        "RRSS";

    @media only screen and (max-width: 1024px) {
        grid-template-rows: 20% 80%;
        grid-template-columns: 100%;
        height: auto;
    }

    @media only screen and (max-width: 768px) {
        grid-template-rows: 20% 80%;
        grid-template-columns: 100%;
        height: auto;
        }

    .TituloPiePagina {
        grid-area: Titulo;
        padding-top: 10px;
    }

    .RRSS {
        @extend .Tarjetas;
        align-content: flex-end;
        align-items: flex-end;
        justify-content: right;

        grid-area: RRSS;
        padding-top: 30px;

        @media only screen and (max-width: 1024px) {
            margin-left: 75%;
            margin-top: 0px;
            padding-top: 0px;
            padding-bottom: 5px;
            width: auto;
        }
        @media only screen and (max-width: 768px){
            margin-left: 50%;
            margin-top: 0px;
            padding-top: 0px;
            padding-bottom: 5px;

        }

        &__Item {
            height: 22%;
            width: 100%;
            margin: 0%;
            padding: 2%;
            padding-right: 0%;
            font-size: small;
            display: flex;
            flex-direction: row;

            justify-items: flex-start;

            h3 {
                font-size: small;
                text-align: center;
                font-weight: bold;
                margin-top: 4px;
            }
        }

        &__img {
            max-width: 70%;
            max-height: 70%;
        }
    }
}

.SeccionPrincipalQS {
    .Titulos {
        text-align: center;
    }
}